*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
}
.container{
    width: 1250px;
    height: 100vh;
    background-image:url('prof.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}

.logo{
    font-size: 40px;
}
.logo span{
    color: red;
}
.login{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    list-style: none;
    margin-right: 20px;
    padding: 10px;
    background-color: black;
}
.login:hover{
    color: red;
    background-color: #fff;
    border-radius: 2px;
}
.Register{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    list-style: none;
    margin-right: 20px;
    padding: 10px;
    background-color: black;
}
.Register:hover{
    color: red;
    background-color: #fff;
    border-radius: 2px;
    border: red;
}
.content{
    margin-top: 95px;
    font-size: 25px;
}
.link{
    margin-top: 30px;
}
.btn{
    font-size: 20px;
    text-decoration: none;
    color:black;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
}
.btn:hover{
    color: red;
    background-color: black;
}